extends ../../layout/layout
include ../../components/preview-bg/preview-bg
include ../../components/info-block-1/info-block-1
include ../../components/two-columns/two-columns

block content
    div#barba-wrapper
        .barba-container(data-namespace='article')
            .row.offset-top-140
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-20
                    h2.tp_h-1 Как выбрать барный стул?
                +preview-bg({bg:'./images/1.jpg'})
            .row.article__bottom
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-18
                    +info-block-1({
                        title: 'Сфера использования',
                        text1: '<p>Устраивая барную зону в&nbsp;любом помещении, будь&nbsp;то квартира или заведение общепита, важно обратить особое внимание на&nbsp;барные стулья, которые неизменно сопровождают высокие стойки, прилегающие к&nbsp;кухне.</p>',
                        text2: '<p>Главное – правильно их выбрать, поняв, чем они отличаются, получить достаточно информации от продавца о качестве, прочности, используемых при их производстве материалов, удобстве эксплуатации. Также такое решение дает возможность удачно зонировать помещение на организованной с гостиной кухней-студио, придав ей функциональности. Также данная конструкция может стать отличным выходом из положения, когда кухня настолько мала, что полноценный обеденный стол в ней попросту не помещается.</p>'
                    }).offset-bottom-160
                    +info-block-1({
                        title: 'Высота барных стульев',
                        text1: '<p>Это один из важных параметров, который зависит в первую очередь от высоты барной стойки, ведь сидеть за ней должно быть так же удобно, как за обычным столом. Поэтому тщательно измерьте комфортную для вас высоту сиденья относительно пола.</p>',
                        text2: '<p>Для вычисления высоты специалисты советуют измерить расстояние от пола до нижней части столешницы. Из этого результата вычитаем высоту стула. В итоге должно получиться 25-35 см. По мнению специалистов, это наиболее подходящий размер.</p><p>Идеальный вариант — стулья с регулируемой высотой (системой газ-лифт), в этом случае проблем не возникнет.</p>',
                        image: 'images/2.jpg'
                    }).offset-bottom-160
                    +info-block-1({
                        title: 'Общий стиль помещения',
                        text1: '<p>Если дизайн квартиры или ресторана выдержан в классическом стиле, вполне логично выбирать стулья, как и остальную мебель, такого же дизайна. Чаще всего они сделаны из дерева, с обивкой из натуральной кожи или плотного текстиля. Опора у них по большей части на 4-х ногах, спинка присутствует, иногда возможны даже подлокотники.</p>',
                        text2: '<p>Если вы поклонник современных материалов и стилей, то здесь вариантов очень много: современные производители предлагают модели из пластика, нержавеющей стали, комбинации материалов, самых оригинальных форм и исполнений.</p>'
                    }).offset-bottom-160
                    +two-columns({
                        title: 'Конструкция',
                        items: [
                            [
                                'Материал',
                                '<p>Такие материалы как нержавеющая сталь или пластик выглядят весьма стильно, достаточно прочные, способны дополнить любой современный стиль интерьера (лофт, минимализм и т.д.). Для классических интерьеров лучше выбирать дерево.</p>'
                            ],
                            [
                                'Подножка',
                                '<p>Наличие подножки весьма желательно для комфортного сидения, однако варианты без нее тоже стоит рассматривать.</p>'
                            ],
                            [
                                'Опора',
                                '<p>Самыми прочными считаются модели, которые стоят на 4-х ножках. Кроме того, если среди ваших потенциальных гостей есть люди весом за 100 кг и с большой разницей в росте, вам однозначно нужны варианты с регулятором высоты.</p>'
                            ],
                            [
                                'Спинка',
                                '<p>Определитесь, насколько важны спинка, подлокотники. Эти элементы добавляют комфорта при пользовании, особенно если барная стойка выполняет практическую функцию и заменяет обеденную зону.</p>'
                            ],
                            [
                                'Обивка',
                                '<p>Стоит определиться – нужна ли мягкая обивка? Она, безусловно, намного приятнее по ощущениям, нежели твердый пластик или дерево. Впрочем, последние образцы дизайна заставят серьезно призадуматься, что лучше – уникальный дизайн, практичность или комфорт текстиля.</p>'
                            ]
                        ]
                    }).offset-bottom-160
                    +info-block-1({
                        title: 'Цвет',
                        text1: '<p>Конечно, он должен гармонировать с другими элементами дизайна помещения.</p>',
                        text2: '<p>Основание может быть хромовое, под бронзу, золото, патинированный металл. То же касается дерева и его породы. А вот цвет сиденья или обивки лучше сочетать с остальным текстилем, например, в доме – диванными подушками или абажуром. Дайте волю фантазии, но перед покупкой обязательно пройдитесь по всем пунктам, описанным выше.</p>'
                    }).offset-bottom-160
                    +info-block-1({
                        title: 'Комфорт',
                        text1: '<p>Оценить этот параметр легко: просто сядьте на стул, чтобы понять – удобно ли вам.  Эти несколько нехитрых советов помогут избежать ошибок при выборе барных стульев.</p>',
                        text2: '<p>Их широкий ассортимент представлен в компании "Стул Груп", где клиентам предлагаются доступные цены на качественную мебель и быстрая доставка.</p>'
                    })
