composer.lock
/vendor/
/.idea
/node_modules
/build
/css
/js
/fonts
/html*
/media

composer.lock
/_images/
/.idea
/node_modules
/build
/config
/images
/img_BIC
/upgrades
/retailcrm
/var

/app/*/*/*
/app/controllers/
/app/functions/
/app/lib/
/app/payments/
/app/schemas
/app/Tygh
!/app/addons/same_products/*
!/app/addons/banners/*
!/app/addons/same_products_2/*


*.log
php.ini

package-lock.json
yandex_a5799852ed9ce64a.html
yandex_d0314de36e886692.html
google89a38119bf79eefb.html

severtrans.php


install.html

changelog.txt

.htaccess
_.htaccess
config.local.php
