mixin sandwich-btn(args)
    .sandwich-btn&attributes(attributes)
        .sandwich-btn__inner
            .sandwich-btn__line.sandwich-btn__line_top
            .sandwich-btn__line.sandwich-btn__line_middle
            .sandwich-btn__line.sandwich-btn__line_bottom
