extends ../../layout/layout
include ../../components/flexible-form/flexible-form

block content
    div#barba-wrapper
        .barba-container(data-namespace='text')
            .row.offset-top-140.offset-bottom-50
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-20
                    h2.offset-bottom-75.tp_h-2 Оптовым покупателям
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    p.tp__p-4 Понравилась наша мебель? У вас есть свой магазин мебели в России, вы владелец интернет-магазина или другим способом продаёте мебель? Можете позвонить по номеру <a href='tel:+74951263985' target='_blank'>+7 (495) 126-39-85</a>, наши менеджеры введут вас в курс дела и расскажут, как организовать процесс взаимодействия.
            .row.offset-bottom-160
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Сотрудничество
                        p.tp__p-2 Мы сотрудничаем как с юридическими лицами, так и с индивидуальными предпринимателями.
                        p.tp__p-2 С вашего первого звонка за вами закрепляется персональный менеджер, который будет делать всё, для того, чтобы вам работалось с нами легко и надёжно. Он будет помогать на всех этапах работы, своевременно сообщать о новинках, помогать в сложных ситуациях, будет делать всё необходимое для установления между нами дружеских отношений.
                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Принципы работы
                        ul.tp__ul-1
                            li стабильная ценовая политика с системой скидок;
                            li поддержание на складе всех товаров;
                            li постоянное расширение ассортимента;
                            li максимально-быстрая отгрузка товаров.
                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Заключение договора
                        p.tp__p-2 Для заключения договора нам необходима карточка реквизитов юридического лица или индивидуального предпринимателя, содержащая сведения о фактическом адресе, банковских реквизитах и контактных телефонах. После получения договора вам нужно внимательно с ним ознакомиться, если вас все устраивает — подписываете и отправляете нам по электронной почте.
                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Формирование заказа
                        p.tp__p-2 Далее вы формируете заказ. Если у вас возникнут трудности с выбором товара, наши опытные менеджеры всегда помогут подобрать оптимальный ассортимент с учетом специфики вашего магазина. Согласно заявке мы выставляем счет на оплату, а мебель ставим в резерв. Счет действителен в течение 5 (пяти) банковских дней, за это время вы должны проверить и оплатить счет, на это время товар остается зарезервированным за вами.
                        p.tp__p-2 Оплатой счёта является факт поступления денежных средств на наш расчетный счет. Если счет не оплачен в срок, он считается аннулированным, а мебель снимается с резерва.
                    .offset-bottom-75
                        +flexible-form({
                            data: data.textForm,
                            nameForm: 'wholesalers',
                            halfWidth: true,
                            halfInput: true,
                            btnText: 'Отправить',
                            action: '/subscribe.json'
                        })
