mixin sandwich-menu-close(args)
    .sandwich-menu-close&attributes(attributes)
        .sandwich-menu-close__wrapper
            .sandwich-menu-close__line.sandwich-menu-close__line_top
            .sandwich-menu-close__line.sandwich-menu-close__line_bottom