mixin mobile-navigation(args)
    .mobile-navigation&attributes(attributes)
        .mobile-navigation__arrow.mobile-navigation__arrow_prev
            +svg({name: 'arrow-left-min'})
        .mobile-navigation__arrow.mobile-navigation__arrow_next
            +svg({ name: 'arrow-left-min' })
