.mobile-navigation {
    display: flex;
    justify-content: space-between;
    width: 80px;

    @include media-breakpoint-down(sm) {
        width: 50px;
    }

    &__arrow {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        cursor: pointer;
        outline: none;

        & > svg {
            width: 16px;
            height: 16px;
            stroke: $color-1;
            stroke-width: 2px;

            @include media-breakpoint-down(sm) {
                width: 8px;
                height: 15px;
            }
        }

        &_prev {
            justify-content: flex-start;

            &.disabled {
                & > svg {
                    stroke: $color-3;
                }
            }
        }

        &_next {
            justify-content: flex-end;
            & > svg {
                transform: rotate(180deg);
            }
            &.disabled {
                & > svg {
                    stroke: $color-3;
                }
            }
        }
    }
}
