$borderRadius: 60px;
$height: 50px;
$heightMobile: 40px;
$widht: 225px;
$widhtMobile: 182px;

.select {
    $root: &;
    position: relative;
    @include font-3;

    width: $widht;

    @include media-breakpoint-down(sm) {
        width: $widhtMobile;
    }

    @media screen and (max-width: 370px){
        width: 165px;
    }

    &__error {
        display: none;
        position: absolute;
        color: red;
        left: 0;
    }

    &._is-active {
        .choices {

        }
    }
    & .choices.is-focused  {

    }

    &._is-error {
        #{$root}__error {
            display: block;
            top: 0;
            transform: scale(.65);
            transform-origin: left top;
        }
    }

    &__arrow-container {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        z-index: 4;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

        @include media-breakpoint-down(sm) {
            width: 24px;
            height: 24px;
            right: 8px;
        }

        @media screen and (max-width: 370px) {
            width: 18px;
            height: 18px;
            right: 5px;
        }
    }

    &__arrow {
        width: 10px;
        height: 10px;
        display: inline-block;
        z-index: 1;
        bottom: 20px;
        pointer-events: none;
    }

    .choices {
        cursor: pointer;
        position: relative;
        width: 100%;

    }

    .choices__inner {
        border: none;
        background-color: $color-5;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        min-height: 0;

        min-width: 182px;
        height: $height;
        border-radius: $borderRadius;

        padding: 0 0 0 20px;
        width: 100%;

        position: relative;
        z-index: 3;

        @include media-breakpoint-down(sm) {
            height: $heightMobile;
            padding-left: 17px;
        }
        @media screen and (max-width: 370px) {
            padding-left: 10px;
            padding-right: 29px;
            min-width: 165px;
        }
    }
    .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 0;
    }

    & .choices.is-open {
        .choices__inner, .choices__list--dropdown {
            background-color: $color-4;
        }
    }

    &__error {
        display: none;
    }
    &._is-error {

    }

    .choices__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include media-breakpoint-down(xl) {
            white-space: normal;
            overflow: auto;
            text-overflow: clip;
        }
    }

    .choices__list--single {
        padding: 0 ;
    }
    .choices__list--dropdown {
        border: none;
        min-width: 100%;
        background-color: $color-5;
        border-radius: calc(#{$borderRadius} /2);
        top: 2px;
        padding-top: $height;

        @include media-breakpoint-down(sm) {
            padding-top: $heightMobile;
        }
    }

    .choices__list--single .choices__item {
        @include font-2;
    }


    .choices__list--dropdown .choices__item--selectable {
        @include font-3;
        padding: 5px;
        opacity: 1;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: rgba(white, 0.3);

    }

    .choices__list--dropdown .choices__item--selectable {
        width: 100%;
        padding: 5px 20px 5px 20px;

        @include media-breakpoint-down(sm) {
            padding-left: 17px;
        }
        @media screen and (max-width: 370px) {
            padding: 5px 20px 5px 10px;
        }
    }

    .choices[data-type*=select-one]:after {
        display: none;
    }


    .choices__list--dropdown {
        z-index: 2;
        padding-bottom: 20px;
    }

    .choices__list .choices__list {
        .ps__rail-y {
            display: block !important;
            opacity: 0.6 !important;
            width: 3px;
            background-color: #cacaca;

            .ps__thumb-y {
                right: 0;
                width: 100%;
                border-radius: 0;
                background-color: #1a1a1a;
            }
        }
    }

    .choices__list--dropdown .choices__list {
        max-height: 200px;
    }

    @include media-breakpoint-up(xxl) {
        &_service .choices__inner {
            width: 225px;
        }
    }

    &.select_cart {
        width: 100%;

        &.is-open {
            & .select {
                &__arrow-container {
                    border-left: 1px solid $color-1;
                }

                &__arrow {
                    fill: $color-2;
                }
            }
        }

        & .select {
            &__arrow-container {
                right: 0;
                width: 50px;
                height: 100%;
                background-color: transparent;
                border-radius: 0;
                border-left: 1px solid $color-3;
                transition: border-left 0.3s;
            }

            &__arrow {
                fill: $color-3;
                transition: fill 0.3s;
            }
        }

        & .choices {

            &__list--single .choices__item {
                @include font-15;
                color: $color-2;
                transition: color 0.3s;
            }

            &__inner {
                border-radius: 3px;
                background-color: white;
                border: 1px solid $color-3;
                transition: border 0.3s;
            }

            &__list--dropdown {
                border-radius: 3px;
                border: 1px solid $color-3;
                transition: border 0.3s;
            }

            &__list--dropdown {
                max-height: 400px;
                padding-top: 48px;
                padding-bottom: 0;

                & .choices__item--selectable {
                    @include font-15;
                    color: $color-1;
                    padding: 10px 20px;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: $color-5;
                    }
                }
            }

            &.is-open {
                & .choices {
                    &__list--single .choices__item {
                        color: $color-1;
                    }

                    &__inner {
                        border-radius: 3px 3px 0 0;
                        background-color: white;
                        border: 1px solid $color-1;
                    }

                    &__list--dropdown {
                        background-color: white;
                        border: 1px solid $color-1;
                    }
                }
            }
        }
    }
}
