include ../../components/profile-dashboard/profile-dashboard
include ../../components/flexible-form/flexible-form
include ../../components/button/button

mixin change-password(args)
    .change-password&attributes(attributes)
        .row.offset-modal-top
            .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-18.tp_h-2 Изменить пароль

            .d-none.d-md-block.offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                +profile-dashboard({data: data.profileDashboard})

        .row
            .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                .flexible-form__title.change-password__form-title Введите новый пароль

        .row
            .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14.d-flex.flex-column.flex-md-row.justify-content-between
                .change-password__form
                    +flexible-form({
                        data: data.changePassword
                    })

                .change-password__notification
                    .change-password__access Минимально рекомендуемая длина пароля — в пределах от 8 до 10 символов
                    .change-password__access.d-none Новый пароль успешно сохранен. Следующее изменение пароля возможно через 7 дней.
                    .change-password__error.d-none Новый пароль совпадает с текущим.  Проверьте правильность введенного пароля.

        .row
            .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14.d-flex.justify-content-start.align-items-center.change-password__bottom
                +button({
                    title: 'Сохранить изменения'
                }).change-password__button
                a(href='#').link-content.link-content__bold.change-password__cancel Отменить
