extends ../../layout/layout

block content
    div#barba-wrapper
        .barba-container(data-namespace='text')
            .row.offset-top-140.offset-bottom-50
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-20
                    h2.offset-bottom-75.tp_h-2 Возврат товара
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    p.tp__p-4 Правила возврата товара при продаже его через интернет-магазин регламентируются законом «О защите прав потребителей» статьёй 26.1 «Дистанционный способ продажи товара»
            .row.offset-bottom-160
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Возврат товара надлежащего качества
                        p.tp__p-2 Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара — в течение 7 дней. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Это подразумевает под собой целостность упаковки, а также полное соответствие его поставляемому виду (товар, который предполагает сборку для его использования, должен быть без следов сборки). Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства (изготовление под заказ в выбранном цвете и материале).
                        p.tp__p-2 Получить информацию об адресе и времени, где вы можете произвести возврат можно узнать по электронной почте <a href='mailto:zakaz@stoolgroup.ru' target='_blank'>zakaz@stoolgroup.ru</a> или по телефону указанному на странице контактов <a href='stoolgroup.ru/contacts' target='_blank'>stoolgroup.ru/contacts</a>. Для этого Вам необходимо сообщить нам номер вашего заказа и причину возврата.
                        p.tp__p-2 Желательно сообщать о необходимости возврата товара ответным письмом на копию заказа, которая отправляется Вам на электронную почту после оформления заказа, с сохранением темы и содержимого переписки.

                    .offset-bottom-75
                        h3.tp_h-4 Возврат товара ненадлежащего качества
                        p.tp__p-2 В случае если товар имеет производственный брак, необходимо выполнить следующие действия для ускорения процесса:
                        ul.tp__ul-1
                            li сделать фотографии товара (общий вид), непосредственно повреждённой части, если товаров с дефектом больше одного, они должны фотографироваться каждый отдельно;
                            li оставить полное описание каждого дефекта;
                            li описать рассматриваемые вами варианты устранения дефекта;
                            li сделать фото упаковки товара, это необходимо для выявления партии товара и отсутствия дефектов упаковки, которые могли привести к повреждению товара, либо к отсутствию комплектующих;
                            li отправить весь материал, полученный в результате выполнения предыдущих пунктов, на электронную почту ответным письмом, где вас уведомляли о самом заказе товара, таким образом, в теме письма сохранится номер заказа, а в тексте письма останется переписка.
                        p.tp__p-2 При получении всей вышеуказанной информации, мы незамедлительно рассмотрим вашу заявку на возврат товара или претензию и свяжемся  с вами.

                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Возврат денежных средств в случае возврата товара
                        p.tp__p-2 При отказе потребителя от товара надлежащего качества продавец должен возвратить ему денежную сумму, уплаченную потребителем по заказу, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через 10 дней со дня предъявления потребителем соответствующего требования.
                        p.tp__p-2 В случае возврата товара ненадлежащего качества возвращается сумма в полном объеме включая услуги по доставке товара.
                        p.tp__p-2 Возврат переведенных средств, производится на Ваш банковский счет в течение 5—30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту).
                        p.tp__p-2 За дополнительной информацией по поводу возврата товара или денежных средств обращайтесь по электронной почте <a href='mailto:zakaz@stoolgroup.ru' target='_blank'>zakaz@stoolgroup.ru</a> или по телефону указанному на странице контактов <a href='stoolgroup.ru/contacts' target='_blank'>stoolgroup.ru/contacts</a>.

