extends ../../layout/layout

block content
    div#barba-wrapper
        .barba-container(data-namespace='text')
            .row.offset-top-140.offset-bottom-50
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-20
                    h2.offset-bottom-75.tp_h-2 Процесс оплаты
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    p.tp__p-4 Оплата товаров происходит с помощью банковской карты через авторизационный сервер Процессингового центра Банка. Пожалуйста, приготовьте вашу пластиковую карту заранее.
            .row.offset-bottom-160
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Поддержка платежных систем
                        ul.tp__ul-1
                            li <strong>VISA International</strong>
                            li <strong>MasterCard</strong>
                            li <strong>МИР</strong>

                    .offset-bottom-75
                        h3.tp_h-4.offset-bottom-20 Описание процесса передачи данных
                        p.tp__p-2 Для оплаты покупки Вы будете перенаправлены на платежный шлюз ОАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.
                        p.tp__p-2 В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.
                        p.tp__p-2 Настоящий сайт поддерживает 128-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.

                    .offset-bottom-75
                        h3.tp_h-4 Описание процесса оплаты
                        p.tp__p-2 При выборе формы оплаты с помощью пластиковой карты проведение платежа по заказу производится непосредственно после его оформления. После завершения оформления заказа Вы должны будете нажать на кнопку «Оплатить», при этом система переключит Вас на страницу авторизационного сервера, где Вам будет предложено ввести данные пластиковой карты и инициировать ее авторизацию нажатием кнопки «Оплатить банковской картой». В случае подтверждения авторизации будет выполнен переход на сайт <a href='stoolgroup.ru' target='_blank'>stoolgroup.ru</a>. В случае отказа в авторизации карты, Вы сможете повторить процедуру оплаты. После прохождения оплаты на Ваш мобильный телефон придёт смс-сообщение с подтверждением.
                        p.tp__p-2 Для оплаты услуг картой необходимо ввести следующие данные:
                        ul.tp__ul-1
                            li <strong>номер карты</strong>, указан на лицевой части карты, обычно это 16 цифр;
                            li <strong>CVV2/CVC2 код</strong>, находится на обратной стороне карты — это последние 3 цифры, которые отделяются от других;
                            li <strong>имя и фамилия держателя карты</strong>, необходимо указывать строго латинскими буквами;
                            li <strong>срок действия карты</strong>, указан на лицевой части вашей карты, чуть ниже ее номера.

                    h3.tp_h-4 Описание процесса получения услуги
                    p.tp__p-2 После успешной оплаты услуг, система вас переведет обратно на сайт <a href='stoolgroup.ru' target='_blank'>stoolgroup.ru</a> на страницу с текстом об успешной оплате, после этого вам на электронный адрес будет выслано письмо с номером и составом заказа.

