mixin svg-block(args)
    .svg-block&attributes(attributes)
        +svg-inline({
            d: 'M330 1867.71C142.25 1310.94 47.16 1028.6 44.73 1020.69C-16.51 821.62 -8.46 609.71 64.24 418.43C87.19 358.03 116.59 299.68 152.3 244.45C173.06 212.34 228.21 129.34 317.77 -4.55',
            width: '326.27',
            height: '1872.26'
        }).svg-block__item.svg-block__item_1
        +svg-inline({
            d: 'M1426.46 1532.35C1248.76 1145.68 1137.69 904.01 1093.26 807.34C891.55 368.43 478.83 63.65 0 0C0 0 0 0 0 0',
            width: '1426.46',
            height: '1532.35'
        }).svg-block__item.svg-block__item_2
        +svg-inline({
            d: 'M-690 0C-122.47 3.8 232.24 6.18 374.12 7.13C1057.73 11.71 1669.17 433.38 1916.4 1070.73C1916.88 1071.96 1918.08 1075.05 1920 1080',
            width: '2610',
            height: '1080'
        }).svg-block__item.svg-block__item_3
        +svg-inline({
            d: 'M2691.22 67.5C2394.27 198.77 1431.18 709.24 1356.94 742.05C869.93 957.34 301.29 728 99.92 235.08C87.17 203.87 55.3 125.84 4.29 0.99',
            width: '2686.93',
            height: '822.02'
        }).svg-block__item.svg-block__item_4
        +svg-inline({
            d: 'M193.61 1080C-26.12 766.6 -58.82 519.9 95.51 339.9C249.84 159.9 591.21 46.6 1119.6 0',
            width: '1119.6',
            height: '1080'
        }).svg-block__item.svg-block__item_5
        +svg-inline({
            d: 'M351.24 0C310.72 82.55 261.19 161.89 202.66 238.01C144.12 314.12 76.56 387.02 0 456.71',
            width: '351.24',
            height: '456.71'
        }).svg-block__item.svg-block__item_6
