$color-1: #202020;
$color-2: #777777;
$color-3: #DADADA;
$color-4: #F3E9E2;
$color-5: #EDEBE9;
$color-6: #E5EEEA;
$color-7: #E8EBF5;
$color-8: #E5E5E5;
$color-9: #EB5757;

$color-10: #9D9D9D;
$color-11: #F3F3F3;
$color-12: #878787;
$color-13: #223A59;
$color-14: #008060;
$color-15: #06254E;
$color-16: #34C5B8;
$color-17: #121F30;
$color-18: #505050;
$color-19: #F0F0F0;
