.favorites {

  &__top {
    padding-top: 140px;

    @include media-breakpoint-down(lg) {
      padding-top: 40px;

      @include media-breakpoint-down(sm) {
        padding-top: 18px;
      }
    }
  }

  &__title {

    &.tp_h-2 {
      margin-bottom: 34px;
    }
  }

  &__counter {
    margin-bottom: 26px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  &__catalog {
    margin-bottom: 300px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 80px;
    }
  }
}
