.favorites-counter {
    $root: &;
    @include font-2;
    justify-content: flex-start;
    height: 100%;

    &__count {
        margin: 0 4px;
    }

    &__clear {
        @include font-15;
        margin-left: 30px;

        &-text {
            margin-right: 10px;
        }
    }

    @include media-breakpoint-down(sm) {
        justify-content: space-between;
        margin-bottom: 24px;
    }
}
