.collection-list {
  $root: &;
  padding: 20px 0 60px;

  &__row {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
    }
  }

  &__preview {
    width: calc(#{$col-width} * 13);
    //margin-right: calc(#{$col-width});

    img {
      width: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-down(lg) {
      width: calc(#{$col-width} * 13);
    }
  }

  &__card {
    width: calc(#{$col-width} * 6);

    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 100px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 34px;
        max-height: 180px;

        @include media-breakpoint-down(md) {
          margin-bottom: 26px;
        }
      }
    }

    .button-buy {
      margin-bottom: 60px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      width: calc(#{$col-width} * 8);

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}
