extends ../../layout/layout
include ../../components/two-columns/two-columns

block content
    main#barba-wrapper
        .barba-container(data-namespace='text')
            .row.offset-top-140.offset-bottom-50
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-20
                    h2.offset-bottom-75.tp_h-2 Доставка
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    p.tp__p-4 Обращаем ваше внимание на то, что стоимость доставки зависит от габаритов груза и расстояния транспортировки. Стоимость рассчитывается индивидуально.
            .row.offset-bottom-160
                .offset-2.offset-md-1.offset-xl-5.col-20.col-md-22.col-xl-14
                    h3.tp_h-4 Способы получения товара
                .offset-2.offset-md-1.offset-xl-3.col-20.col-md-22.col-xl-20
                    +two-columns({
                        items: [
                            [
                                'Самовывоз',
                                '<p>Вы можете забрать свой заказ с нашего склада по адресу: Московская область,Солнечногорский район, сельское поселение Лунёвское, деревня Дубровки, Аэропортовская улица, с2. Складской комплекс Шерлэнд</p><p>Время самовывоза необходимо согласовать с менеджером интернет-магазина.</p>'
                            ],
                            [
                                'К месту (Москва и МО)',
                                '<p>Стоимость доставки по Москве и в пределах МО зависит от габаритов груза и рассчитывается индивидуально. Доставка до подъезда, подъём заказов до 20 кг осуществляется бесплатно.</p><p>Оплата наличными или банковской картой курьеру (или предварительная безналичная оплата на расчётный счёт нашей компании).</p>'
                            ],
                            [
                                'Доставка в регионы России и страны СНГ',
                                '<p>Осуществляется через транспортные компании после полной оплаты товара. Мы работаем с ПЭК, Байкал-Сервис, Энергия, EASY WAY, КИТ.</p><p>Стоимость доставки зависит от габаритов груза и расстояния транспортировки. Рассчитывается индивидуально</p>'
                            ],
                            [
                                'Забор груза с нашего склада',
                                '<p>Забор осуществляется выбранной вами транспортной компанией. Для этого необходимо после оплаты товара сообщить менеджеру магазина данные компании и получателя груза.</p><p>Со своей стороны мы обеспечиваем контроль забора груза и оформление документов в транспортной компании.</p>'
                            ]
                        ]
                    })
