.buy-onclick {
    $root: &;

    &__head {
        margin-top: 120px;

        &-info {
            width: 40.625%;
            padding: 30px 40px 25px;
            background-color: $color-5;

            p {
                margin-bottom: 0;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-top: 50px;
                padding: 15px 20px 10px;
            }
        }
    }

    &__product {

        &-image {
            width: 110px;
            height: 120px;
            margin-right: calc(#{$col-width} - 30px);

            @include media-breakpoint-down(lg) {
                margin-right: calc(#{$col-width});
            }
        }

        &-title {
            @include font-28;
            color: $color-1;
            margin-bottom: 18px;

            @include media-breakpoint-down(sm) {
                margin-bottom: 12px;
            }
        }

        &-info {
            @include font-15;
            color: $color-1;

            @include media-breakpoint-down(sm) {
                line-height: 1.7;
            }
        }

        &-text {
            @include media-breakpoint-down(sm) {
                width: 66%;
            }
        }

        @include media-breakpoint-down(sm) {
            margin: 54px 0 66px;
        }
    }

    &__image {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        img {
            width: 110px;
            height: 100%;
            object-fit: contain;
        }
    }

    .offset-modal-top {
        margin-top: 75px;
        @include media-breakpoint-down(sm) {
            margin-top: 25px;
        }
    }


    .flexible-form__item {
        margin-bottom: 80px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
    }
    .flexible-form__head {
        @include media-breakpoint-down(sm) {
            margin-bottom: 35px;
        }
    }



}
